html, body, #root {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important; /* Prevents scrollbars on html/body */
  box-sizing: border-box !important; /* Ensures consistent box model */
}
